# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.so
.Python
.env
.venv
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Othre
thrash
extracted_symbols
output_*